*.DS_Store
NaturalDisastersResolution/.idea
NaturalDisastersResolution/APDescription.txt
NaturalDisastersResolution/MTPs-MainContainer.txt
NaturalDisastersResolution/bin*
NaturalDisastersResolution/out*

